.container{
	background-color: orange;
	color: white;
	padding bottom: 10px;
	margin top: 10px;
}

h1{
	font-size: 40pt;
	text-align: center;
	padding top: 5px;
	padding bottom: 5px;
	margin top: 200px;
}

.jumbotron{
	position: relative;
	box-sizing: border-box;
	height: 600px;
}

#startGame{
	background-color: orange;
	color: white;
	font-size: 20pt;
}

.button-container{
	text-align: center;
}

body{
	background-image: url(../images/90snick.jpg);
	position: relative;
}
